typingpython>=3.10
Flask==3.0.2
Flask-Cors==4.0.0
requests
typing-inspect==0.9.0
typing_extensions==4.12.2
logging
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
fitz
Pillow==10.1.0
rapid-layout==0.3.0
numpy==1.26.4
json
beautifulsoup4==4.12.2
openpyxl==3.1.5
python-pptx==1.0.2
xlsx2html==0.6.1
